<!doctype html>
<html ng-app="Twitter">
  <head>
    <meta charset="utf-8">
    <title>Who said that?</title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.4/css/bootstrap.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <div ng-controller="TwitterCtrl" id="app-container" class="container-fluid auto-margin">
      <div id="app-title">
        <p class="header auto-margin">
          Who said that?
        </p>
      </div>

      <p class="selected-tweet auto-margin">
        "{{selected_tweet_text}}"
      </p>

      <div id="user-images" class="auto-margin">
        <div ng-repeat="tweet in shuffled_tweets" class="image auto-margin">
          <img ng-src="{{tweet.profile_image_url}}" ng-click="revealAnswer()" class="{{answer}}-{{tweet.from_user == selected_tweet_user}}">
        </div>
      </div>
    </div>
  </body>
</html>

